h1 {
    text-align: center;
  }

h6
{
    font-weight: bold;
}
  
div.submit-form
{
    width:450px;   
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    text-align: center;
    border-style: ridge;
}

div#people-form
{
    width:550px;   
}


div#TimeSheetForm
{
    border-style: ridge;
    
}

div#TimeSheetForm
{
    margin:50px;
    padding:40px;
}

table, th, td
{
    border: 1px solid black;
}

table
{
    table-layout: fixed;
    margin-left:375px;
    width:350px;
    text-align: left;
}

table#programlist
{
    margin-left:200px;
    width:800px;
}

table#externalorglist, table#externalteamslist
{
    margin-left:200px;
    width:800px;
}

table td:first-child {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
}

table td:not(:first-child) {
    text-align : center;
}

select#SelectControl
{
    width: 400px;
    height: 50px;
}

select#Quarter
{
    width: 320px;
    height: 50px;
}




